<!doctype html>
<html class="no-js">
<head>
  {{{bootstrap}}}
  <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
  <title>Moveo | products - services</title>
  <meta name="description" content="">
  <meta name="keywords" content="Moveo,services,products">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Martijn Swaagman">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body class="container-fluid">
  <nav class="row">
    <section class="logo col-lg-1">
      <img src="/image/logo.png" class="img-responsive">
    </section>
    <div data-pagelet="highlight-web" class="col-lg-2"></div>
    <div data-pagelet="highlight-data" class="col-lg-2"></div>
    <div data-pagelet="highlight-performance" class="col-lg-2"></div>
    <div data-pagelet="highlight-nodejs" class="col-lg-2"></div>
    <div data-pagelet="highlight-consultancy" class="col-lg-2"></div>
  </nav>
  <header>

    <article data-pagelet="development">Web development</article>
    <article data-pagelet="data-analysis">Data visualization and analysis</article>
    <article data-pagelet="performance">Application performance</article>

    <h1>Why work with us?</h1>
    <article data-pagelet="solutions">Focus on solution</article>
    <article data-pagelet="expert">Expert knowledge</article>
    <article data-pagelet="reliable">Reliable</article>
  </header>
  <main>
    <section data-pagelet="development-showcase"></section>
  </main>
  <footer data-pagelet="footer"></footer>
</body>
</html>