<!doctype html>
<html class="no-js">
<head>
  {{{bootstrap}}}
  <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
  <title>Moveo | products - services</title>
  <meta name="description" content="">
  <meta name="keywords" content="Moveo,services,products">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Martijn Swaaagman">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body class="container">
{{ partial }}
</body>
</html>