<div class="row">
  <h3 class="col-lg-12">About</h3>
</div>
<div class="row">
  <div class="col-lg-4">
    <div id="hcard-Moveo" class="vcard">
      <div class="org">Moveo</div>

      <div class="adr">
        <div class="street-address">Stadsweg 20</div>
        <span class="postal-code">9791 KE</span>,
        <span class="locality">Ten Boer</span>,
        <span class="country-name">Netherlands</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div><i class="fa fa-envelope"></i> <a class="email" href="mailto:info@moveo.io">info@moveo.io</a></div>
    <div><i class="fa fa-phone"></i> <span class="tel">+31612555611</span></div>
    <div><i class="fa fa-info"></i> <span class="kvk">kvk: 56766459</span></div>
  </div>

  <small class="col-lg-2">
    <p>&copy; {{year}} - Moveo<p>
  </small>
</div>