<nav class="row">
  <section class="logo col-lg-1">
    <img src="/image/logo.png" class="img-responsive">
  </section>
  <div data-pagelet="menu"></div>
</nav>
<main>
  <section data-pagelet="products"></section>
  <section data-pagelet="services"></section>
  <section data-pagelet="blog"></section>
  <section data-pagelet="contact"></section>
</main>
<footer data-pagelet="footer" class="container-fluid"></footer>