a
  color: rgba(255, 255, 255, .9)
  text-align: center
  display: table-cell
  vertical-align: middle
  text-decoration: none
  padding: 1em

  &:hover span
    color: #3498db

i
  font-size: 48px

span
  margin-top: 18px
  font-size: 24px // Fallback for lacking support of vw
  font-size: 1.5vw
  line-height: 1.5em
  display: block
