$blue = #3498db
$grey = #2B2B2B

body
  background-color: white
  font-family: Montserrat, sans-serif
  font-size: 16px
  line-height: 1.5em

h1
  line-height: 1.25em

nav.row
  fixed: top 0 left 0
  width: 100%
  height: 137px
  margin: 0
  background-color: white
  box-shadow: 0 3px 4px 0 rgba(50, 50, 50, 0.05)

main
  margin-top: 137px

  section
    height: 100vh
    width: 100vw

[data-pagelet="menu"]
  absolute: top 55px left 150px
  width: 100%

.blue
  color: $blue

.logo
  background-color: $blue
  padding: 15px

.caption
  text-align: right