$blue = #3498db
$bg = #2B2B2B

body
  background-color: $bg
  font-family: Montserrat, sans-serif
  color: rgba(255, 255, 255, .9)
  font-size: 18px
  line-height: 1.5em

h1
  line-height: 1.25em

nav.row
  background-color: $bg
  fixed: top 200px left 0
  width: 100%
  margin: 0

.blue
  color: $blue

.logo
  background-color: $blue
  padding: 15px

.caption
  text-align: right