<header>
  <article data-pagelet="development">Web development</article>
  <article data-pagelet="data-analysis">Data visualization and analysis</article>
  <article data-pagelet="performance">Application performance</article>

  <h1>Why work with us?</h1>
  <article data-pagelet="solutions">Focus on solution</article>
  <article data-pagelet="expert">Expert knowledge</article>
  <article data-pagelet="reliable">Reliable</article>
</header>